TgCrypto
git+https://github.com/pyrogram/pyrogram@master
py-tgcalls
telegraph
telethon 
gTTS
googletrans==4.0.0rc1
git+https://github.com/HellBoy-OP/yt-dp-fork
asyncio
requests
aiohttp
aiofiles
python-decouple
asyncio
wget
heroku3
pillow
python-arq
youtube-search-python==1.4.6
youtube-dl
python-dotenv
natsort
